parcel-cache/
dist/
.github/
.husky/
.nyc_output/
.vscode/
coverage/
docs/
src/
test-data/
node_modules/
.editorconfig
biome.json
.gitignore
npm-debug.log
rollup.config.mjs
tsconfig.esm.json
tsconfig.json